@(WordsCountDesc: Map[String, Integer],searchedKeyword: String,previewDescription : String ,isGlobal: Boolean)
<!DOCTYPE html>

<html lang="en">
    <head>
        @* Here's where we render global word statistics. *@
    <title>"Freelancelot"</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!--loader -->
<style>
body {
  font-family: Arial;
}

p {
text-align: center;
}

.blockFormat
{
	margin: auto; 
	width: 80%;
}
.lineFormat
{
	background-color:#EDEDED;
	width: 80%;
	text-align:center;
	font-size:15px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 5px;
	margin:auto
}

.width60per
{
	width: 60%;
}

.width75per
{
	width: 60%;
}

.width25per
{
	width: 60%;
}

.marginAuto
{
  margin: auto;
}
.textAlignCenter
{
	text-align:center;
}
</style>

    </head>
<body>
<br>
<br>
<div class="blockFormat">
	<div class="lineFormat">
	@if(isGlobal == true) {
    <p>Global Word Statistics for searched keyword: @searchedKeyword</p>
    }else {
    <p>Individual Word Statistics for searched keyword: @searchedKeyword</p>
		<p>Preview Description: @previewDescription</p>
    }
  </div>   
<br>
<br>
<div class="width60per marginAuto">
	 @if(WordsCountDesc != null) {
		<table class="table table-hover blockFormat">
			<tr>
				<th class="width75per">Words</th>
				<th class="width25per">Frequency</th>
			</tr>
			@for((word, count) <- WordsCountDesc) {
			<tr>
				<td class="width75per">@word</td>
				<td class="width25per">@count</td>
			</tr>
			}
		</table>
		}else {
		<table class="table table-hover blockFormat">
		<tr>
				<th class="width75per textAlignCenter">No Word Statistics to show !</th>
			</tr>
    }
		</div>
</div>
</body>

</html>